/*Roboto*/

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
  url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
  url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
  url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/roboto/Roboto-Black.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
  url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Black.woff') format('woff'),
  url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/roboto/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Light.woff') format('woff'),
  url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/roboto/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
  url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/*Circular*/
@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/circular/CircularStd-Book.eot');
  src: local('Circular Std Book'), local('CircularStd-Book'),
  url('../fonts/circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circular/CircularStd-Book.woff2') format('woff2'),
  url('../fonts/circular/CircularStd-Book.woff') format('woff'),
  url('../fonts/circular/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/circular/CircularStd-Medium.eot');
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
  url('../fonts/circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circular/CircularStd-Medium.woff2') format('woff2'),
  url('../fonts/circular/CircularStd-Medium.woff') format('woff'),
  url('../fonts/circular/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: url('../fonts/circular/CircularStd-Bold.eot');
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
  url('../fonts/circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circular/CircularStd-Bold.woff2') format('woff2'),
  url('../fonts/circular/CircularStd-Bold.woff') format('woff'),
  url('../fonts/circular/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Black';
  src: url('../fonts/circular/CircularStd-Black.eot');
  src: local('Circular Std Black'), local('CircularStd-Black'),
  url('../fonts/circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circular/CircularStd-Black.woff2') format('woff2'),
  url('../fonts/circular/CircularStd-Black.woff') format('woff'),
  url('../fonts/circular/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


