@import './fonts';

:root {
  --main-dark-text-color: #292949;
  --white-color: #FFFFFF;
  --gray-text-color: #7B819A;
  --light-gray-text-color: #848AA0;
  --light-green-text-color: #4DC7A0;
  --medium-green-text-color: #57D1AA;

  --solid-line: #E9EDF3;
  --dashed-line: #D4DBE7;
  --vertical-seperate-color: #C6CAD9;

  --main-bg-color: #E5E5E5;
  --green-bg-color: #61DBB4;
  --light-green-bg-color: #dff8f0;
  --light-bg-color: #F5F8FE;
  --date-bg-color: #F3F5F8;
  --ellipse-color: #B0B3C2;

  --orange-color: #FAB43F;
  --pink-color: #F96878;
  --blue-color: #A0C4F7;
  --purpure-color: #6A4EFF;
  --yellow-color: #F2C94C;

  --roboto-regular: 'Roboto Regular', sans-serif;
  --roboto-medium: 'Roboto Medium', sans-serif;
  --roboto-bold: 'Roboto Bold', sans-serif;
  --roboto-black: 'Roboto Black', sans-serif;
  --roboto-light: 'Roboto Light', sans-serif;
  --roboto-thin: 'Roboto Thin', sans-serif;

  --circular-normal: 'Circular Std Book', sans-serif;
  --circular-medium: 'Circular Std', sans-serif;
  --circular-bold: 'Circular Std Bold', sans-serif;
  --circular-black: 'Circular Std Black', sans-serif;
}

